{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Lists | IHolder</title>
<link rel="stylesheet" href="{% static 'todo/user_lists.css'%}">
{% endblock %}

{% block content %}
<center style="margin-top:1.2rem;"><h2>{{user|title}}'s Lists</h2></center>
<div class="div-content">
    <div class="content-top">
        <div class="div-content-head-inner-right">
            <form actio="" method="post">
                {% csrf_token %}
                <div class="flex-form">
                    <input type="text" name="name" placeholder="List name" class="form-control" autocomplete="off">
                    <button type="submit" class="btn btn-secondary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="div-content-body">
        <ul class="content">
            {% for list in todo_lists %}
            <li class="content-item">
                <a href="">{{ list.name }}</a>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>

{% endblock %}