{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
        {%for message in messages%}
            <div class="alert alert-success alert-dismissible fade show js-alert" role="alert">{{message}}</div>
        {%endfor%}
    {%endif%}
    <form action="/events/" method="post">
      {% csrf_token %}
      <div class="input-group">
        {{ form }}
        <button type="submit" class="btn btn-outline-secondary">search</button>
      </div>
    </form>
    <center><h1>Popular Online Events</h1></center>
    {% if lastEvents%}
    {% for event in lastEvents %}
    <div class="row newsPost mt-5">
        <div class="d-flex p-1 col-12">
            <div class="d-flex col-sm-9">
                {% if event.image %}
                <a href="{{event.link}}"><img src="{{event.image}}" target="_blank" width="200" height="200" alt="image"></a>
                {% else %}
                <a href="{{event.link}}"><img src="{% static 'Itracker/brokenImage.jpg' %}"  width="200" height="200" alt="image"></a>
                {% endif %}
                <div class="pl-5 m-2">
                    <h3>{{event.title}}</h3>
                    <p>{{event.timeEvent}}</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex flex-row-reverse justify-content-center">
                  <input type="text" value="{{event.link}}" id="myInput" hidden>
                  <button onclick="myFunction()" class="btn btn-warning col-sm-3">Share</button>
                </div>
                    
                  <!-- <a href="/Itracker/share/{{new.name}}/{{page}}" class="btn btn-warning col-sm-3">Share</a> -->
              </div>
        </div>
    </div>
    {%endfor%}
    <div id="allevents" hidden>

      {% for event in lastEventsAll %}
      <div class="row newsPost mt-5">
          <div class="d-flex p-1 col-12">
              <div class="d-flex col-sm-9">
                  {% if event.image %}
                  <a href="{{event.link}}"><img src="{{event.image}}" target="_blank" width="200" height="200" alt="image"></a>
                  {% else %}
                  <a href="{{event.link}}"><img src="{% static 'Itracker/brokenImage.jpg' %}"  width="200" height="200" alt="image"></a>
                  {% endif %}
                  <div class="pl-5 m-2">
                      <h3>{{event.title}}</h3>
                      <p>{{event.timeEvent}}</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="d-flex flex-row-reverse justify-content-center">
                    <input type="text" value="{{event.link}}" id="myInput" hidden>
                    <button onclick="myFunction('{{event.link}}')" class="btn btn-warning col-sm-3" id="{{event.link}}">Share</button>
                  </div>
                      
                    <!-- <a href="/Itracker/share/{{new.name}}/{{page}}" class="btn btn-warning col-sm-3">Share</a> -->
                </div>
          </div>
      </div>
      {%endfor%}
    </div>
    <center><button onclick="loadAll()" class="btn btn-outline-secondary">Load more</button></center>
    {%else%}
        <div class="alert alert-danger alert-dismissible fade show js-alert" role="alert">Events can't be found with given criteria please try again later!</div>
    {%endif%}
    <!-- {% if page == 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=2&q={{query}}">2</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=3&q={{query}}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=2&q={{query}}">Next</a>
          </li>
        </ul>
      </nav>
    {%elif page == 2%}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=1&q={{query}}">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=3&q={{query}}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=3&q={{query}}">Next</a>
          </li>
        </ul>
      </nav>
    {% elif page == 3 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=2&q={{query}}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=1&q={{query}}">1</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=2&q={{query}}">2</a></li>
          <li class="page-item active"><a class="page-link" href="#">3</a></li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    {%endif%} -->
</div>
<script type="text/javascript">
    if (document.querySelector('.js-alert')) {
    document.querySelectorAll('.js-alert').forEach(function($el) {
      setTimeout(() => {
        $el.classList.remove('show');
      }, 1500);
    });
  }

  function myFunction(url) {
    console.log(url)
    var copyText = document.getElementById("myInput");
    var btn = document.getElementById(url);
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
    btn.innerText = "Copied";
    btn.className = "btn btn-success col-sm-3"
    setInterval(() => { btn.innerText = "Share"; btn.className = "btn btn-warning col-sm-3"},5000);
    }
    function loadAll() {
    
    var alldiv = document.getElementById("allevents");
    alldiv.removeAttribute("hidden"); 
    }
</script>
{% endblock %}