{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
        {%for message in messages%}
            <div class="alert alert-success alert-dismissible fade show js-alert" role="alert">{{message}}</div>
        {%endfor%}
    {%endif%}
    <form action="/Itracker/search/" method="post">
      {% csrf_token %}
      <div class="input-group">
        {{ form }}
        <button type="submit" class="btn btn-outline-secondary">search</button>
      </div>
    </form>
    {% if trendNews%}
    {% for new in trendNews %}
    <div class="row newsPost">
        <div class="col-12">
            <div class="d-flex p-1">
              <div class="col-3" style="width:200px; height:200px">
                {% if new.image.contentUrl %}
                <a href="{{new.url}}"><img src="{{new.image.contentUrl}}" target="_blank" width="200" height="200" alt="image"></a>
                {% else %}
                {% if new.image.url%}
                  <a href="{{new.url}}"><img src="{{new.image.url}}"  width="200" height="200" alt="image"></a>
                  {% elif new.image %}
                  {% if new.image != 'not found' %}
                  <a href="{{new.url}}"><img src="{{new.image}}"  width="200" height="200" alt="image"></a>
                  {% else %}
                  <a href="{{new.url}}"><img src="{% static 'Itracker/brokenImage.jpg' %}"  width="200" height="200" alt="image"></a>
                  {% endif %}
                  {%else%}
                  <a href="{{new.url}}"><img src="{% static 'Itracker/brokenImage.jpg' %}"  width="200" height="200" alt="image"></a>
                  {%endif%}
                </div>
                {% endif %}
                <div class="pl-5 m-2">
                    {% if new.name %}
                    <h3>{{new.name}}</h3>
                    {% else %}
                    <h3>{{new.title}}</h3>
                    {% endif %}
                    <p>{{new.description}}</p>
                </div>
                <div class="col-sm-4">
                    {% if new.name %}
                    {% if new.name in savedNews %}
                    <a href="#" class="btn btn-success col-sm-3">Saved</a>
                    {%else%}
                    <a href="/Itracker/save/{{new.name}}/{{page}}" class="btn btn-secondary col-sm-3">Save</a>
                    {%endif%}
                    {% else %}
                    {% if new.title in savedNews %}
                    <a href="#" class="btn btn-success col-sm-3">Saved</a>
                    {%else%}
                    <a href="/Itracker/save/{{new.title}}/{{page}}" class="btn btn-secondary col-sm-3">Save</a>
                    {%endif%}
                    {% endif%}
                    <input type="text" value="{{new.url}}" id="myInput" hidden>
                    <button onclick="myFunction('{{new.url}}')" class="btn btn-warning col-sm-3" id="{{new.url}}">Share</button>
                    <!-- <a href="/Itracker/share/{{new.name}}/{{page}}" class="btn btn-warning col-sm-3">Share</a> -->
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    {%else%}
        <div class="alert alert-danger alert-dismissible fade show js-alert" role="alert">News can't be found with given criteria please try again later!</div>
    {%endif%}
    {% if page == 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=2&q={{query}}">2</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=3&q={{query}}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=2&q={{query}}">Next</a>
          </li>
        </ul>
      </nav>
    {%elif page == 2%}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=1&q={{query}}">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=3&q={{query}}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=3&q={{query}}">Next</a>
          </li>
        </ul>
      </nav>
    {% elif page == 3 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/Itracker?page=2&q={{query}}" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=1&q={{query}}">1</a></li>
          <li class="page-item"><a class="page-link" href="/Itracker?page=2&q={{query}}">2</a></li>
          <li class="page-item active"><a class="page-link" href="#">3</a></li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    {%endif%}
</div>
<script type="text/javascript">
    if (document.querySelector('.js-alert')) {
    document.querySelectorAll('.js-alert').forEach(function($el) {
      setTimeout(() => {
        $el.classList.remove('show');
      }, 1500);
    });
  }

  function myFunction(url) {
    console.log(url)
    var copyText = document.getElementById("myInput");
    var btn = document.getElementById(url);
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
    btn.innerText = "Copied";
    btn.className = "btn btn-success col-sm-3"
    setInterval(() => { btn.innerText = "Share"; btn.className = "btn btn-warning col-sm-3"},5000);
    }
</script>
{% endblock %}